:host {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

input {
  border: 1px solid #6c63ff;
  border-radius: 5px;
  padding: 8px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.image {
  width: 50%;
}

.wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
}

.conversion {
  padding: 16px;
}

.noMargin {
  margin: 0;
}

.code {
  font-size: 16px;
  color: rgb(126, 126, 126);
}

.value {
  font-size: 32px;
  color: #6c63ff;
}

.rates {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
