<!-- Dispatching actions

OK! Now we have actions and their reducers.
For actual changes to occur to the state, these actions have to be dispatched,
just like you would dispatch events.

Dispatching an action is quite easy. First, we need a reference to our store.
We can get one via dependency injection.

For our user to actually change the amount, we need an input field.
So let's create one! For simplicity, we will use our app.component.html for this example. -->

<div class="wrapper">
  <img class="image" src="./../assets/undraw_transfer_money_rywa.svg" />

  <div>
    $ <input
      [ngModel]="amount$ | async"
      (ngModelChange)="onAmountChange($event)"
    />

  </div>
  <div class="rates">
    <div *ngFor="let currency of (currencyRates$ | async)" class="conversion">
      <p class="noMargin code">{{ currency.code }}</p>
      <p class="noMargin value">
        {{ (currency.value * (amount$ | async)).toFixed(2) }}
      </p>
    </div>
  </div>
</div>

<!--
Displaying state in components with the async pipe

The async pipe is a little helper angular provides.
It allows us, to resolve observables directly from our template's HTML code.
It takes care of all the technical difficulties, including unsubscribing from the observable.

To show the value of our state on the screen, we can easily use the async pipe.

Pipes are represented by a single vertical line '|'. After that, the name of the pipe follows.
With the code above, our input field now always represents the state of "amount".
We can also display our currency rates on the screen with this technique.
Let's implement that, as well, although we have not filled this state with a value yet.
-->
